HOME_ASSISTANT_BASE_URL="http://homeassistant:8123"
HOME_ASSISTANT_TOKEN="<YOUR_LONG_LIVED_ACCESS_TOKEN_HERE>"
HOME_ASSISTANT_ENTITY_ID="input_boolean.music_active"

VLC_TELNET_HOST=""
VLC_TELNET_PASSWORD=""

MUSIC_FOLDER="/music"